a:link {
	text-decoration: none; color: #000; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a:hover {
	text-decoration: none; font-weight: bold; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a:active {
	text-decoration: none; color: #000;
}
a:visited {
	text-decoration: none; color: #000;
}
#wrapper {
	margin: auto; width: 990px; background-color: #CCC;
}
#regWrapper {
	margin: auto; width: 400px; background-color: #CCC;
}	
#header {
	margin: auto; width: 990px;
}
#regHeader {
	margin: auto; width: 990px; font-family: Verdana, Geneva, sans-serif; text-align: center; padding-top: 30px;
}
#body {
	width: 990px; background-color: #000;
}
#regBody {
	width: 400px;
	background-color: #FFFFFF;
	margin: auto;
	height: auto;
	color: #000;
	border-radius: 4px;
	text-align: center;
	border-style: solid;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#mainBody {
	width: 990px;
	background-color: #FFFFFF;
	opacity: 0.9;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #000;
	border-radius: 4px;
	text-align: center;
}
#Navi {
	float: left;        /* avoid a double border */
	clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */
	width: 1000px;
	height:80px;
	text-align: left;
	font-size: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 10px;
	border-bottom-color: #000;
}   
#Navi a:hover {
	font-weight: bold;
}  
#Navi a:link {
	font-weight: normal;
}
#userbar {
	float: right; width: 200px; font-size: 14px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}   
#footer  {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	padding-top: 80px;
  	color: #777;
	margin: auto;	
}   
.pageHeader {
	font-size: 24px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	margin-left: 20px;
}
.fieldsetHeader {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}
body {
	background-color: #FFF;         /* make sure IE centers the page too */
    	background-repeat: no-repeat;
    	background-attachment: fixed;
	background-position: center; 
}   
regBody {
	background-color: #FFF;         /* make sure IE centers the page too */
	background-image: url('fuji.jpg');
    	background-repeat: no-repeat;
    	background-attachment: fixed;
	background-size: 1700px 700px;
} 
th {
	background-color: #B40E1F;
	color: #F0F0F0;
	text-decoration: none;
}   
td {
	padding: 5px;
	text-decoration: none;
}   

/* Menu styles */  
.item {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}   
.alignLabel {
	float: left;
	width: 8em;
	margin-right: 15px;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.alignPhoto {
	float: right;
	padding-right: 100px;
}
.alignRight {
	float: right;
	width: 300px;
	font-family: Verdana, Geneva, sans-serif;
}
.alignRightHome {
	float: right;
	text-align: justify;
	width: 450px;
	margin-right: 20px;
	padding-top: 70px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.alignSignUpButton {
	margin: auto; width: 330px; height: 50px; background-color: white; color: black; border: 2px solid #555555; text-align: center; font-size: 16px; border-radius: 4px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.alignSignUpButton:hover {
    background-color: #555555; color: white;
}
.alignButton1 {
	margin-left: 10px; width: 100px;
}
.alignButton2 {
	float: left; width: 200px; margin-left: 3px;
}
.fieldset {
	width: 820px; margin: auto; border-top-color: #333; border-right-color: #333; border-bottom-color: #333; border-left-color: #333;
}
.fieldsetLogin {
	width: 500px; margin: auto; height: 150px; border: 3px solid #000;
}
hr {
	width: 900px; height: 3px; background-color: #333; margin: auto;
}
h1 {
	text-align: center; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
u {
	text-decoration: underline;
}
.alignLeft { 
	float: left; width: 450px; text-align: justify; margin-left: 60px; margin-top: 50px; font-family: Georgia, "Times New Roman", Times, serif;
}
.form-control {   
	display: block; margin: auto; width: 300px; height: 25px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; border: 1px solid #000; border-radius: 4px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}   

.textarea-control {   
	display: block; margin: auto; width: 300px; height: 50px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; border: 1px solid #000; border-radius: 4px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}  
.errorValidation {
	color: #FF0000;	 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 13px;
}  